* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ffff;
    font-family: "Opens Sans", sans-serif;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* ----- header ----*/

header {
    background: url("../images/imgbrand.png") black;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
}

header .menu {
    margin: 40px 0px;
    text-align: right;
}

header .menu a {
    margin: 0px 20px;
    color: #ffff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    /*border-bottom: 2px solid #00DAD9;*/
    color:#00DAD9;
}

header .container-text {
    display: flex;
    margin: 190px 0;
    color: #ffff;
    justify-content: center;
    align-content: center;
}

header .container-text .text {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .container-text .text h1 {
    color: #ffff;
    font-weight: 300;
    margin: 0;

}
header .container-text .text h2 {
    color: #00DAD9;
    font-weight: 300;
    margin: 0;
}

header .container-text .text .name {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    font-family: 'Questrial', sans-serif;
}

header .container-text .text .proffesion {
    font-size: 25px;
    line-height: 25px;
    font-family: 'Questrial', sans-serif;
}

/* ------ main ------*/


a {
    text-align: justify;
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
    color: #636363;
    text-decoration: none;
    /* margin-bottom: 1em; */

}
a:link {
    color: #636363;
    border-bottom: 2px solid #00DAD9;
}
  /* visited link */
a:visited {
    text-decoration: none;
    color:#00DAD9;
    border-bottom: 2px solid #636363;
}
/* mouse over link */
a:hover {
    text-decoration: none;
    color:#00DAD9;
    border-bottom: 2px solid #636363;
}
/* selected link */
a:active {
color: #0e8a8a;
}

.main .container {
    overflow: visible;
}
.main .about {
    text-align: center;
}

.main .about .picture {
    margin-top: -100px;
}

.main .about .picture img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(0, 218, 217, 0.2);
}

.main .about .text {
    color: #5a5a5a;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Questrial', sans-serif;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: justify;
}

.main .about .text .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    color: #00DAD9;
    text-align: center;
}

/*------ projects ---*/

.main .projects {
    background-color: #f2f2f2;
    padding-top: 20px;
}

.main .projects .container {
    overflow: hidden;
}

.main .projects .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #00DAD9;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.main .projects .container-projects {
    /* max-width: 1000px; */
    /* margin: auto; */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main .projects .container-projects .project {
    width: 45%;
}
/*box of every project */

.main .projects .container-projects .project .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .projects .container-projects .project .thumb img {
    width: 100%;
    vertical-align: top;
}

.main .projects .container-projects .project .description-project {
    position: relative;
    margin-bottom: 30px;
    height: 14em;
} /*box contains the paragraphs*/

.main .projects .container-projects .project .description-project .project-name {
    color: #00DAD9;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
} /*it is a P tag*/

.main .projects .container-projects .project .Description {
    text-align: justify;
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
    color: #636363;
} /*it is a p tag*/



.main .projects .container-projects .project .description-project .developed {
    width: 100%;
    border-top: 1px solid #b6b1b1;
    font-size: 1em;
    color: #636363;
    font-family: 'Questrial', sans-serif;
    text-align: left;
    position: absolute;
    bottom: 0px;
}

.main .projects .container-projects .project .description-project .developed .dev {
    color: #be8f0c;
    font-size: 18px;
    padding: 0;
}

.main .projects .container-projects .project .description-project .repository {
    padding-bottom: 10px;
}

/* ------- footer ------ */

footer {
    background: url("../images/foo1.jpg") black;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 1000px;
    max-width: 1920px;
}

footer .container {
    width: 500px;
}

footer .container .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    color: #00DAD9;
    text-align: center;
}

footer .container .contact-message {
    color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Questrial', sans-serif;
    text-align: justify;
    margin-bottom: 30px;
}

/* footer .contact .container .icon-container {
    width: 300px;
    align-content: center;
    /* flex-direction:row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around;
} */

footer .contact .container .icon {
    color: #ffff;
    margin: 0 10px;
}

footer .contact .container .icon-container .contact-text {
    text-align: center;
    color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Questrial', sans-serif;

}

footer .social-networks {
    padding: 30px 0;
}

footer .container-social {
    display: flex;
    justify-content: center;
}

footer .social-networks a {
    text-decoration: none;
    font-size: 1.9em;
    color: #ffff;
    text-align: center;
    /* width: 120px; */
    display: block;
    padding: 20px 0;
    /* border-radius: 50%; */
    margin: 0 10px;
    border-bottom: none;
}

footer .social-networks .github:hover {
    transition: ease-in-out;
    color: #6cc644;
}

footer .social-networks .linkedin:hover {
    color: #0077b5;
}

footer .social-networks .email:hover {
    color: #ea4335;
}

footer .social-networks .twitter:hover {
    color: #1da1f2;
}
 footer .social-networks .trademark {
     color: #ffff;
     text-align: center;
 }
/*
.container .title  */

/* ----- media query ---*/

@media screen and (max-width: 800px) {
    
    header .menu {
        margin: 40px 0px;
        text-align: center;
    }
    .main .projects .container-projects {
      flex-direction: column;
    }
    .main .projects .container-projects .project {
        width: 100%;
    }
}
