* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ffff;
    font-family: "Opens Sans", sans-serif;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* ------ main ------*/

a {
    text-align: justify;
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
    color: #636363;
    text-decoration: none;
    /* margin-bottom: 1em; */
}


button.button_resume {
    background-color: #00DAD9;
    color:#ffff;
    border-radius: 30px; 
    border: none;
    display: block;
    margin: 0 auto;
    padding: 10px;
    transition-duration: 0.4s;
}

.button_resume:hover {
    background-color: #ffff;
    color: #00DAD9;
}

a:link {
    color: #636363;
    border-bottom: 2px solid #00DAD9;
}
  /* visited link */
a:visited {
    text-decoration: none;
    color:#00DAD9;
    border-bottom: 2px solid #636363;
}
/* mouse over link */
a:hover {
    text-decoration: none;
    color:#00DAD9;
    border-bottom: 2px solid #636363;
}
/* selected link */
a:active {
color: #0e8a8a;
}

.main .container {
    overflow: visible;
}
.main .about {
    text-align: center;
}

.main .about .picture {
    margin-top: -100px;
}

.main .about .picture img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(0, 218, 217, 0.2);
}

.main .about .text {
    color: #5a5a5a;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Questrial', sans-serif;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: justify;
}

.main .about .text .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    color: #00DAD9;
    text-align: center;
}


div.skills-container {
    padding: 15px;
    margin: 20px;
    display: flex;
    /* justify-content: center; */
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3.title {
    font-size: 2em;
    line-height: 40px;
    margin-bottom: 40px;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    color: #00DAD9;
    text-align: center;
}

div.tech-skills {
    background: url("../images/foo1.jpg") black center;
    color: white;
    border: 5px solid #00DAD9;
    width: 45%;
    margin: 0 15px;
    padding: 15px 10px;
    border-radius: 15px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.soft-skills {
    background: url("../images/foo1.jpg") black center;
    border: 5px solid #00DAD9;
    width:45%;
    margin: 0 15px;
    padding: 15px 10px;
    border-radius: 15px;
}

div.skills-container i {
    color: #f2f2f2;
    font-size: 3.0rem;
    /* margin: 5px 5px; */
    padding: 10px;
    display: inline-block;
}

div.skills-container li {
    color: #ddd4d4;
    font-size: 20px;
    font-weight: 300;
    list-style: none;
    text-align: left;
    padding: 5px;
}


/*------ projects ---*/

.main .projects {
    background-color: #f2f2f2;
    padding-top: 20px;
}

.main .projects .container {
    overflow: hidden;
}

.main .projects .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #00DAD9;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.main .projects .container-projects {
    /* max-width: 1000px; */
    /* margin: auto; */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main .projects .container-projects .project {
    width: 45%;
}
/*box of every project */

.main .projects .container-projects .project .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .projects .container-projects .project .thumb img {
    width: 100%;
    vertical-align: top;
}

.main .projects .container-projects .project .description-project {
    position: relative;
    margin-bottom: 30px;
    height: 14em;
} /*box contains the paragraphs*/

.main .projects .container-projects .project .description-project .project-name {
    color: #00DAD9;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
} /*it is a P tag*/

.main .projects .container-projects .project .Description {
    text-align: justify;
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
    color: #636363;
} /*it is a p tag*/



.main .projects .container-projects .project .description-project .developed {
    width: 100%;
    border-top: 1px solid #b6b1b1;
    font-size: 1em;
    color: #636363;
    font-family: 'Questrial', sans-serif;
    text-align: left;
    position: absolute;
    bottom: 0px;
}

.main .projects .container-projects .project .description-project .developed .dev {
    color: #be8f0c;
    font-size: 18px;
    padding: 0;
}

.main .projects .container-projects .project .description-project .repository {
    padding-bottom: 10px;
}


/* ----- media query ---*/

@media screen and (max-width: 800px) {
    
    header .menu {
        margin: 40px 0px;
        text-align: center;
    }
    .main .projects .container-projects {
      flex-direction: column;
    }
    .main .projects .container-projects .project {
        width: 100%;
    }
    div.skills-container {
      flex-direction: column;
    }
    div.skills-container .tech-skills {
      width: 100%;
    }
    div.skills-container .soft-skills {
        width: 100%;
    }
}

@media (max-width: 800px) {
    footer .contact p {
        font-size: 80px;
    }
}
@media (max-width: 800px) {
    footer .social-networks a {
        font-size: 80px;
    }
}
